<aside>
  <div>
    <img src="" alt="My photo" />
  </div>

  <div>
    <!--contacts-->

    <div class="sub-section">
      <h3 class="aside-title">Contacts</h3>

      <a class="contacts-part" href="">
        <svg class="contacts-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-skype"></use>
        </svg>
        <span>vadimvatrik</span>
      </a>

      <a class="contacts-part" href="tel:+38 066 796 38 46">
        <svg class="contacts-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-mobile"></use>
        </svg>
        <span>+38 066 796 38 46</span>
      </a>

      <a class="contacts-part" href="mailto:VatryaVV@gmail.com">
        <svg class="contacts-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-mail"></use>
        </svg>
        <span>VatryaVV@gmail.com</span>
      </a>

      <a class="contacts-part" href="mailto:VatryaVV@gmail.com">
        <svg class="contacts-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-mail"></use>
        </svg>
        <span>VatryaVV@gmail.com</span>
      </a>

      <a class="contacts-part" href="https://github.com/Vadim-Vatrya">
        <svg class="contacts-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
        <span>Vadim Vatrya</span>
      </a>

      <a class="contacts-part" href="https://www.linkedin.com/in/vadim-vatrya-4858b2204/">
        <svg class="contacts-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-linkedin"></use>
        </svg>
        <span>Vadim Vatrya</span>
      </a>
    </div>

    <!--   Tech Skills  -->
    <div></div>
  </div>
</aside>
