<aside class="container-aside">
  <div class="img-photo">
    <img src="" alt="My photo" />
  </div>

  <div>
    <!--contacts-->

    <div class="sub-section">
      <h3 class="aside-title">Contacts</h3>

      <a class="contacts-part" href="">
        <svg class="contacts-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-skype"></use>
        </svg>
        <span>vadimvatrik</span>
      </a>

      <a class="contacts-part" href="tel:+38 066 796 38 46">
        <svg class="contacts-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-mobile"></use>
        </svg>
        <span>+38 066 796 38 46</span>
      </a>

      <a class="contacts-part" href="mailto:VatryaVV@gmail.com">
        <svg class="contacts-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-mail"></use>
        </svg>
        <span>VatryaVV@gmail.com</span>
      </a>

      <a class="contacts-part" href="https://github.com/Vadim-Vatrya">
        <svg class="contacts-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
        <span>Vadim Vatrya</span>
      </a>

      <a class="contacts-part" href="https://www.linkedin.com/in/vadim-vatrya-4858b2204/">
        <svg class="contacts-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-linkedin"></use>
        </svg>
        <span>Vadim Vatrya</span>
      </a>
    </div>

    <!--   Tech Skills  -->
    <div class="sub-section">
      <h3 class="aside-title">Tech Skills</h3>
      <ul>
        <li class="skills-item">
          <svg class="skills-icon-check" width="16" height="16">
            <use href="./images/sprite.svg#icon-checkmark"></use>
          </svg>
          <span class="skills-inscription">HTML5</span>
          <svg width="20" height="20">
            <use href="./images/sprite.svg#icon-html5"></use>
          </svg>
        </li>

        <li class="skills-item">
          <svg class="skills-icon-check" width="16" height="16">
            <use href="./images/sprite.svg#icon-checkmark"></use>
          </svg>
          <span class="skills-inscription">CSS3, SCSS</span>
          <svg width="20" height="20">
            <use href="./images/sprite.svg#icon-css3"></use>
          </svg>
        </li>

        <li class="skills-item">
          <svg class="skills-icon-check" width="16" height="16">
            <use href="./images/sprite.svg#icon-checkmark"></use>
          </svg>
          <span class="skills-inscription">Java Script</span>
          <svg width="20" height="20">
            <use href="./images/sprite.svg#icon-javascript"></use>
          </svg>
        </li>

        <li class="skills-item">
          <svg class="skills-icon-check" width="16" height="16">
            <use href="./images/sprite.svg#icon-checkmark"></use>
          </svg>
          <span class="skills-inscription">React, Redux</span>
          <span class="skills-double-box">
            <svg width="20" height="20">
              <use href="./images/sprite.svg#icon-react"></use>
            </svg>
            <svg width="20" height="20">
              <use href="./images/sprite.svg#icon-redux"></use>
            </svg>
          </span>
        </li>

        <li class="skills-item">
          <svg class="skills-icon-check" width="16" height="16">
            <use href="./images/sprite.svg#icon-checkmark"></use>
          </svg>
          <span class="skills-inscription">Node.js</span>
          <svg width="20" height="20">
            <use href="./images/sprite.svg#icon-node"></use>
          </svg>
        </li>

        <li class="skills-item">
          <svg class="skills-icon-check" width="16" height="16">
            <use href="./images/sprite.svg#icon-checkmark"></use>
          </svg>
          <span class="skills-inscription">Git, Github</span>
          <span class="skills-double-box">
            <svg width="20" height="20">
              <use href="./images/sprite.svg#icon-git"></use>
            </svg>
            <svg width="20" height="20">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </span>
        </li>

        <li class="skills-item">
          <svg class="skills-icon-check" width="16" height="16">
            <use href="./images/sprite.svg#icon-checkmark"></use>
          </svg>
          <span class="skills-inscription">WebPack, Parcel</span>
          <span class="skills-double-box">
            <svg width="20" height="20">
              <use href="./images/sprite.svg#icon-webpack"></use>
            </svg>
            <img src="./images/parcel.png" style="width: 20px" alt="icon-parcel" />
          </span>
        </li>
      </ul>
    </div>

    <!--   Soft Skills   -->
    <div class="sub-section">
      <h3 class="aside-title">Soft Skills</h3>
      <ul>
        <li class="soft-skills-item">
          <svg class="skills-icon-check" width="16" height="16">
            <use href="./images/sprite.svg#icon-checkmark"></use>
          </svg>
          <span class="skills-inscription">GTD</span>
        </li>

        <li class="soft-skills-item">
          <svg class="skills-icon-check" width="16" height="16">
            <use href="./images/sprite.svg#icon-checkmark"></use>
          </svg>
          <span class="skills-text">Teamwork</span>
        </li>

        <li class="soft-skills-item">
          <svg class="skills-icon-check" width="16" height="16">
            <use href="./images/sprite.svg#icon-checkmark"></use>
          </svg>
          <span class="skills-inscription">Agile, Scrum</span>
        </li>
      </ul>
    </div>

    <!--   Language Skills   -->
    <div class="sub-section">
      <h3 class="aside-titles">Language Skills</h3>
      <ul>
        <li class="languages-skills-item">
          <svg class="skills-icon-check" width="16" height="16">
            <use href="./images/sprite.svg#icon-checkmark"></use>
          </svg>
          <span class="skills-text">Ukrainian</span>
          <span class="skills-text">native</span>
        </li>
        <li class="languages-skills-item">
          <svg class="skills-icon-check" width="16" height="16">
            <use href="./images/sprite.svg#icon-checkmark"></use>
          </svg>
          <span class="skills-text">Russian</span>
          <span class="skills-text">native</span>
        </li>
        <li class="languages-skills-item">
          <svg class="skills-icon-check" width="16" height="16">
            <use href="./images/sprite.svg#icon-checkmark"></use>
          </svg>
          <span class="skills-text">English</span>
          <span class="skills-text">pre-intermediate</span>
        </li>
      </ul>
    </div>
  </div>
</aside>
