<div class="container projects">
  <div class="sub-section">
    <h5 class="small-titles">Full Stack Developer</h5>
    <h1 class="name">Vadim Vatrya</h1>
    <div class="summary-item">
      <span class="small-titles summary">Credo:</span>
    </div>
  </div>

  <!--   projects    -->
  <div class="sub-section">
    <h3 class="big-titles">Projects</h3>
    <h4 class="middle-titles">Teamwork</h4>
    <ul class="project-list js-team"></ul>

    <h4 class="middle-titles">Own works</h4>
    <ul class="project-list js-own"></ul>
  </div>

  <!-- work experience-->
  <div class="sub-section">
    <h3 class="big-titles">Work Experience</h3>

    <div class="details">
      <span class="dates">June 2015 - May 2008 | Ukraine</span>
      <h4 class="middle-titles">Private enterprise Evroclass</h4>
      <p class="small-titles">Manager workshops concrete products</p>
      <p class="description">
        Installation and commissioning of a concrete plant. Production automation
      </p>
    </div>
    <div class="details">
      <span class="dates">Up to now - July 2015 | Ukraine</span>
      <h4 class="middle-titles">Private enterprise</h4>
      <p class="small-titles">Manager of the food department</p>
      <p class="description">
        Launch and commissioning of a new food plant. Introduction system of quality ISO:2009 for
        food production. Production automation
      </p>
    </div>
  </div>

  <!-- education-->

  <div class="sub-section">
    <h3 class="big-titles">Education</h3>
    <div class="details">
      <span class="dates">Septermber 2000 - June 2005 | Ukraine</span>
      <h4 class="middle-titles">Kherson National Technical University</h4>
      <h5 class="small-titles">Specialist degree - Production automation</h5>
    </div>
  </div>
  <div>
    <h3 class="big-titles">Additional Education</h3>
    <div class="sub-section details">
      <span class="dates">June 2020 - June 2021 | Ukraine</span>
      <h4 class="middle-titles">GO IT</h4>
      <h5 class="small-titles">Full Stack Developer</h5>
    </div>
  </div>
</div>
